@model BuildingCondition.Db.Models.User

@{
    ViewData["Title"] = "Profile";
}

@await Html.PartialAsync("_LayoutHeader")
    
<section>
    <div class="row mx-1 my-1">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <form asp-controller="User" asp-action="EditData" method="post">
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <input asp-for="FirstName" type="text" class="form-control" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <input asp-for="LastName" type="text" class="form-control" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <input asp-for="Email" type="email" class="form-control" placeholder="E-mail">
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <form asp-controller="User" asp-action="EditPassword" method="post">
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <input asp-for="PasswordHash" type="password" class="form-control" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>