@model BuildingCondition.Db.Models.Building

@{
    ViewData["Title"] = "Edit";
}

@await Html.PartialAsync("_LayoutHeader")

<section>
    <div class="row mx-1 my-1">
        <div class="col-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <p>Edit building</p>
                    <form asp-controller="Building" asp-action="Edit" method="post">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="BuildingManagerId" />
                        <div class="form-group">
                            <input asp-for="Country" type="text" class="form-control" placeholder="Country">
                        </div>
                        <div class="form-group">
                            <input asp-for="State" type="text" class="form-control" placeholder="State">
                        </div>
                        <div class="form-group">
                            <input asp-for="City" type="text" class="form-control" placeholder="City">
                        </div>
                        <div class="form-group">
                            <input asp-for="Street" type="text" class="form-control" placeholder="Street">
                        </div>
                        <div class="form-group">
                            <input asp-for="BuildingNumber" type="text" class="form-control" placeholder="Building number">
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>