@model  BuildingCondition.Mvc.Models.ViewModels.AccountViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="row mx-1 my-1">
        <div class="col-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <p>Log in</p>
                    <form asp-controller="Account" asp-action="Login" method="post">
                        <div class="form-group">
                            <input asp-for="UserName" type="text" class="form-control" placeholder="User Name">
                        </div>
                        <div class="form-group">
                            <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Log in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
