@model BuildingCondition.Mvc.Models.ViewModels.AccountViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("_LayoutHeader")

<section class="mt-5 d-flex justify-content-center align-items-center text-center">
    <form asp-controller="Account" asp-action="Register" method="post">
        <h1 class="h3 mb-3 font-weight-normal">New user registration</h1>
        <div class="form-group">
            <input asp-for="FirstName" type="text" class="form-control" placeholder="First Name">
        </div>
        <div class="form-group">
            <input asp-for="LastName" type="text" class="form-control" placeholder="Last Name">
        </div>
        <div class="form-group">
            <input asp-for="Email" type="email" class="form-control" placeholder="E-mail">
        </div>
        <div class="form-group">
            <input asp-for="UserName" type="text" class="form-control" placeholder="User Name">
        </div>
        <div class="form-group">
            <input asp-for="Password" type="password" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
            <input asp-for="RepeatePassword" type="password" class="form-control" placeholder="Repeate password">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Register</button>
    </form>
</section>